.categoryNews {
  width: 95%;
  margin: 2rem auto;
}

.categoryNews > h2 {
  margin: 1rem 0rem;
}

.categoryNews__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.categoryNews__container > div {
  width: 30%;
  align-self: stretch;
}
