.categoryPicker {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);

    width: 40%;

    background-color: var(--bannerbackgroundColor);
    border-radius: 10px;
}

.categoryPicker__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--blackColor);
    padding: 2rem;
}

.categoryPicker__header > h3 {
    font-size: var(--heading3-fontSize);
    font-weight: bold;
}

.categoryPicker__mainSecion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 1rem 2rem;
}


/* Category Label Styles */
.categoryLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 10rem;

    border: 1px solid var(--navbarButtonBackgroundColor);
    margin: 0.5rem 0rem;
    padding: 0.25rem 0.75rem;
    border-radius: 5px;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.categoryLabel:hover {
    background-color: var(--navbarButtonBackgroundColor);
}
.categoryLabel:hover > p, .categoryLabel:hover > button, .categoryLabel:hover{
    color: var(--whiteColor);
}

.categoryLabel > button {
    border: none;
    outline: none;
    background-color: transparent;

    font-size: var(--heading1-fontSize);
    color: var(--formHeadingColor)
}

.categoryLabel > p {
    font-size: var(--heading3-fontSize);
    color: var(--formHeadingColor);

    margin-left: 1rem;
}