/* Common Styles */
.navbar, .navbar__authLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__brandName > h3, .navbar__authLinks > *, .navbar__authLinks > button {
    cursor: pointer;
}

.navbar__brandName a {
    text-decoration: none;
    color: inherit;
}


.navbar {
  padding: 1rem 2rem;

  background: var(--navbarBackgroundColor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 30px 30px;
}

.navbar__brandName > h3 {
    font-size: var(--heading1-fontSize);
}

.navbar__authLinks, .navbar__mobileLinkAction {
  min-width: 10rem;
  font-size: var(--heading3-fontSize);
}

.navbar__authLinks > *, .navbar__mobileLinkAction > * {
    margin: 0rem 1.5rem;
    font-weight: 500;
}

.navbar__authLinks > p > a, .navbar__mobileLinkAction > p > a {
    text-decoration: none;
    color: inherit;
}

.navbar__authLinks > p, .navbar__mobileLinkAction > p {
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}
.navbar__authLinks > p:hover, .navbar__mobileLinkAction > p:hover {
    border-color: var(--blackColor);
}

.navbar__authLinks button, .navbar__mobileLinkAction button {
    padding: 0.5rem 1.5rem;
    background-color: var(--navbarButtonBackgroundColor);
    border: 1px solid var(--blackColor);
    color: var(--navbarBackgroundColor);

    font-size: var(--paragraph-fontSize);

    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.navbar__authLinks button:hover, .navbar__mobileLinkAction button:hover {
    background-color: var(--navbarBackgroundColor);
    color: var(--navbarButtonBackgroundColor);
}

.navbar__mobileLink {
    display: none;
}


/* User Chip Styling  */
.userChip {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0.5rem 0.25rem 0.25rem;
    background-color: var(--navbarBackgroundColor);
    border-radius: 30px;

    border: 1px solid var(--blackColor);
    cursor: pointer;
}

.userChip__profileImage, .userChip__userDetail > img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
}

.userChip__userDetail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0.5rem;

    font-size: var(--paragraph-fontSize);
    font-weight: bold;
}

.userChip__userDetail > img {
    width: 1rem;
    height: 1.35rem;
    margin-left: 0.5rem;
    border-radius: 0%;
    transform: rotate(90deg);
}

.userChip__navContainer {
    position: absolute;
    width: 100%;

    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: var(--navbarBackgroundColor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 7.1rem;
}

.userChip__navItem > ul > li {
    list-style: none;
    text-align: center;
    padding: 0.25rem 0rem
}

.userChip__navItem > ul > li > a {
    text-decoration: none;
    color: inherit;
}


@media (max-width: 500px) {
    .navbar__authLinks {
        display: none;
    }   

    .navbar__mobileLink {
        display: block;
        width: 2rem;
        position: relative;
    }

    .navbar__mobileLink > div, .navbar__mobileLink > div > img {
        width: 100%;
        cursor: pointer;
    }

    .navbar__mobileLinkAction {
        position: absolute;
        top: 225%;
        left: -105%;
        transform: translate(-50%, -50%);

        background: var(--bannerbackgroundColor);
        padding: 1rem 0rem;
        border-radius: 5px;

        z-index: 10;
    }

    .navbar__mobileLinkAction > *:first-child {
        margin-bottom: 1rem;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar__mobileLinkAction button {
        width: 70%
    }
}