:root {
  --blackColor: #333;
  --whiteColor: #f3f3f3;

  --navbarBackgroundColor: #f9f9f9;
  --navbarButtonBackgroundColor: #44403C;
  --bannerbackgroundColor: #EEF0F3;
  --formHeadingColor: #F96E46;

  --heading1-fontSize: calc(1.5rem + 0.15vw);
  --heading2-fontSize: calc(1.25rem + 0.15vw);
  --heading3-fontSize: calc(1rem + 0.15vw);
  --paragraph-fontSize: calc(0.75rem + 0.15vw);
  --label-fontSize: calc(0.5rem + 0.15vw);
}

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}