.bannerContainer {
    background: var(--bannerbackgroundColor);
    border: 1px solid var(--blackColor);

    padding: 2rem;
    text-align: center
}

.bannerHeading {
    font-size: var(--heading2-fontSize);
    margin: 1rem 0rem 0.5rem 0rem;
}

.bannerDescription {
    font-size: var(--paragraph-fontSize);
    margin-bottom: 2rem;
}

.bannerButton {
    filter: drop-shadow(10px 8px 6px rgba(51, 51, 51, 0.45));
    height: 3rem;
    min-width: 7rem;
    width: 20%;

    background-color: var(--navbarBackgroundColor);
    border: 1px solid var(--blackColor);
    outline: none;

    font-size: var(--heading3-fontSize);
    font-weight: bold;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.bannerButton:hover {
    filter: drop-shadow(6px 4px 2px rgba(51, 51, 51, 0.55));
}